@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    line-height: 1.7rem;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
/**********nav-bar starts here******/
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-bar .logo{
    display: flex;
    align-items: center;
}
.nav-bar .logo h1{
    font-weight: 200;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar li{
    margin: 0 20px;
}
.nav-bar a{
    text-decoration: none;
    color: black;
}
.nav-bar a:hover{
    color: #eeca5c;
}
.nav-bar input{
    padding: 10px 70px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}
.nav-bar form input{
    position: relative;
    opacity: 40%;
}
.nav-bar form input::placeholder{
    position: relative;
    right: 60px;

}
.nav-bar form i{
    position: relative;
    right: 40px;
}
.nav-bar .nav-icons i{
    color: black;
    font-size: 1.2rem;
    margin-left: 20px;
}
.nav-bar .nav-icons i:hover{
    color: #eeca5c;
}
/******nav-bar ends here****/
/*****section starts here***/
section{
    background-color: #FFF6DA;
}
section .container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    
}
.container .cart-head h3{
    margin-bottom:30px;
}
.container tbody tr{
    margin-bottom: 70px;
}
.cart-table .cart-table-details{
    display: flex;
    width: 100%;
    
}
.cart-table .cart-table-details p{
    flex-grow: 1;
}
.cart-table .cart-table-details .item{
    flex-grow: 4.5;
    margin-left: 30px;
}
.cart-table-items{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid gray;
    width: 100%;
    margin-bottom: 20px;
}
.item-img{
    display: flex;
    align-items: center;
    position: relative;
}.item-img div{
    flex-grow: 1;
}
.item-img .card-img{
    width: 15%;
    margin-right: 20px;
}
.item-img .card-img img{
    width: 100%;
    border-radius: 10px;
}
.item-img .features p{
    line-height: 1.3;
    opacity: 0.7;
}
.item-img .features h4{
    margin-bottom: 40px;
}
.item-img .fa-trash{
    color: red;
    position: relative;
    top: 70px;
}

.summary{
    width: 23%;
    padding: 30px 20px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 20px;
    max-height: 40vh;
    margin-right: 50px;
}
.summary h3{
    margin-bottom: 20px;
}
.summary button{
    padding: 10px;
    background-color: blue;
    color: white;
    font-weight: 200;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.summary .btn-div{
    text-align: center;
}
/******section ends here****/
/*****footer starts here*****/
.container{
    padding: 30px;
}
footer .details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
footer.details img, p, a{
    text-decoration: none;
    margin-bottom: 10px;
}
footer .details i{
    margin-right: 15px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    color: black;
}
a .logo h1:hover{
    color: #eeca5c;
}
.details ul{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    list-style: none;
    margin-top: 40px;
}
.details ul li{
    margin-bottom: 10px;
}
hr{
    margin-top: 10px;
    opacity: 50%;
}
.copyright{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 25%;
    justify-content: space-between;
}
.copyright ul{
    display: grid;
    grid-template-columns: 15% 40% 50%;
    list-style: none;
}
/*****footer ends here*****/
