@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    line-height: 1.7rem;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
/**********nav-bar starts here******/
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-bar .logo{
    display: flex;
    align-items: center;
}
.nav-bar .logo h1{
    font-weight: 200;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar li{
    margin: 0 20px;
}
.nav-bar a{
    text-decoration: none;
    color: black;
}
.nav-bar a:hover{
    color: #eeca5c;
}
.nav-bar input{
    padding: 10px 70px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}
.nav-bar form input{
    position: relative;
    opacity: 0.5;
}
.nav-bar form input::placeholder{
    position: relative;
    right: 60px;

}
.nav-bar form i{
    position: relative;
    right: 40px;
}
.nav-bar .nav-icons i{
    color: black;
    font-size: 1.2rem;
    margin-left: 20px;
}
.nav-bar .nav-icons i:hover{
    color: #eeca5c;
}
/******nav-bar ends here****/
/*****section starts here****/
section{
    background-color: #FFF6DA;
}
section .container{
    padding: 30px;
}
.create-form h1{
    font-family: 'Reem Kufi', sans-serif;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.create-form .header p{
    margin-bottom: 30px;
    opacity: 0.7;
}
section .create-form{
    text-align: center;
    background-color: white;
    max-width: 40%;
    margin: auto;
    padding: 30px;  
    border-radius: 20px;
    margin-top: 50px;
}
.create-form .user, .email, .password{
    padding: 15px 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: transparent;
}
.create-form input{
    position: relative;
}
.create-form input::placeholder{
    opacity: 0.5;
    position: relative;
    right: 60px;
    font-size: 1rem;
}
.create-form i{
    font-size: 1.2rem;
    position: relative;
    left: 30px;
}
.create-form img{
    width: 20%;
}
.create-form a{
    text-decoration: none;
    color: black;
}
.create-form .btn{
    padding: 15px 100px;
    margin: 20px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    font-size: 1.2rem;
}
/*****section ends here****/
/*****footer starts here*****/
.container{
    padding: 30px;
}
footer .details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
footer.details img, p, a{
    text-decoration: none;
    margin-bottom: 10px;
}
footer .details i{
    margin-right: 15px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    color: black;
}
a .logo h1:hover{
    color: #eeca5c;
}
.details ul{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    list-style: none;
    margin-top: 40px;
}
.details ul li{
    margin-bottom: 10px;
}
hr{
    margin-top: 10px;
    opacity: 50%;
}
.copyright{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 25%;
    justify-content: space-between;
}
.copyright ul{
    display: grid;
    grid-template-columns: 15% 40% 50%;
    list-style: none;
}
/*****footer ends here*****/